<div class="userInfo">
<div class="heading">Customer Info</div>
<div class="summaryMenu">
	<div ng-form="custInfo">
	<div class="formErr" ng-show="!custInfo.$valid">Please fill valid information in all the fields to checkout</div>
		<div class="formCtrl halfWidth">
			<label for="fName">First Name</label>
			<input name="fName" type="text" ng-model="formData.fName" pattern="[A-z]+" required>
		</div>
		<div class="formCtrl halfWidth">
			<label for="lName">Last Name</label>
			<input name="lName" type="text" ng-model="formData.lName" pattern="[A-z]+" required>
		</div>
		<div class="formCtrl fullWidth">
			<label for="fAddr">Address 1</label>
			<input name="fAddr" type="text" ng-model="formData.fAddr" pattern="[A-z]+" required >
		</div>
		<div class="formCtrl fullWidth">
			<label for="sAddr">Address 2</label>
			<input name="sAddr" type="text" ng-model="formData.sAddr" pattern="[A-z]+" required>

		</div>
		<div class="formCtrl oneThirdWidth">
			<label for="city">City</label>
			<input name="city" type="text" ng-model="formData.city" pattern="[A-z]+" required >
		</div>
		<div class="formCtrl oneThirdWidth">
			<label for="state">State</label>
			<input name="state" type="text" ng-model="formData.state" pattern="[A-z]+" required>
		</div>
		<div class="formCtrl oneThirdWidth">
			<label for="pin">Pin</label>
			<input name="pin" type="text" ng-model="formData.pin" pattern="[1-9][0-9]{5}" required >
		</div>
		<div class="formCtrl oneThirdWidth">
			<label for="phNo">Phone Number</label>
			<input name="phNo" type="text" ng-model="formData.phNo" pattern="[1-9][0-9]{9}" required>
		</div>

	</div>
</div>
</div>

<div class="orderConfSumm">
				<div class="heading">Order Summary</div>
				<div class="summaryMenu">
					<div class="foodTable">
						<div class="tblHead">
							<div class="itemHeadSumm">Item name</div>
							<div class="countHeadSumm">Count</div>
							<div class="priceHeadSumm">Amount</div>
						</div>
						<div class="summTblRow" ng-repeat="(orderKey,orderVal) in order">
							<div class="itemNameSumm">{{orderVal.Item}}</div>
							<div class="count">
							<div class="itemCountSumm">{{orderVal.selStock}}</div>
							<div class="itemIncSumm itemEnabled add_{{orderKey}}" ng-click="addItem(orderKey)">+</div>
							<div class="itemDecSumm itemEnabled remove_{{orderKey}}" ng-click="removeItem(orderKey)">-</div>
							</div>
							<div class="itemPriceSumm">{{orderVal.Price * orderVal.selStock}}</div>
						</div>
						<div class="summTblRow totalRow" ng-show="totalItem!=0">
							<div class="itemNameSumm">Total</div>
							<div class="count">{{totalItem}}</div>
							<div class="itemPriceSumm">{{totalAmount}}</div>
						</div>
					</div>
				</div>	
		</div>
		<div ng-class="{orderBtn:true,btnEnable:custInfo.$valid}" ng-show="totalItem!=0" ng-click="custInfo.$valid && validateAndRedirect('/finish')">Confirm Order</div>
		
		