body{
	margin: 0;
	padding: 0;
	font-family:'Segoe UI';
}
.container{
	width:1200px;
	margin:20px auto 0;
}
header{
	padding: 20px 100px 20px 20px;
	background-color:#f7f7f7;
	height: 30px;
}
#logo{
	font: bold 25px 'Segoe UI';
	float: left;
}
nav{
	float:right;
	height:inherit;
}
.navOpt{
	float: left;
    padding-right: 25px;
    border-right: 2px solid #e3e3e3;
    color:#e3e3e3
    margin-top:7px;
}
.navEnabled{
	color:#346BDB;
}
.navOpt:last-child{
	border:none;
	padding-right:0;
	padding-left:25px;
}
.orderBuilderContainer{
	display: table-row;
}
.orderBuilderMain,.orderBuilderSumm{
	    display: table-cell;
    border-left: 4px solid #b7b7b7;
    background-color: #f7f7f7;
    width: 830px;
    padding: 20px;
    border-right: 20px solid #fff;
}
.orderBuilderSumm{
	margin-left:20px;
	width:280px;
	padding:10px;
	border-right:0;
}
.orderConfSumm{
	border-left: 4px solid #b7b7b7;
    background-color: #f7f7f7;
    padding:20px;
    width:1160px;
    margin-bottom:30px;
}
.heading,.orderConfSumm .heading{
	width:100px;
	padding-bottom:5px;
	border-bottom: 1px solid #b7b7b7;
}
.orderConfSumm .heading{
	width:120px;
}
.menu{
	padding:30px 30px 0 60px;
	width:740px:;
}
.summaryMenu{
	padding:10px;
width:260px;
}
.orderConfSumm .summaryMenu{
	width:600px;
	margin-left:70px;
}
.foodType{
	font:bold 20px 'Segoe UI';
}
.tblHead div,.tblRow div{
display: inline-block;
}
.tblHead{
	padding-bottom:20px;
	border-bottom:1px solid #b7b7b7;
	margin-top:30px;
}
.tblRow:nth-child(2){
	margin-top:50px;
}
.tblRow{height: 35px;}
.foodTable{
	margin-bottom:40px;
}
.itemHead{
	margin-left:44px;
	width:500px;
}
.itemPrice{
	width:100px;
}
.itemSno{
	width:40px;
}
.itemSno::after{
	content:".";
}
.itemName{
	width:500px;
}
.itemPrice{
	width:100px;
}
.itemPrice::before{
	content:"Rs.";
}
.itemInc,.itemDec{
	width: 41px;
	text-align:right;
}
.itemEnabled{
	color:#346BDB;
	cursor:pointer;
	font-weight:bold;
}
.orderConfSumm .itemHeadSumm,.orderConfSumm .itemNameSumm{
	width:400px;
}
.orderConfSumm .countHeadSumm,.orderConfSumm .count{
	width:134px;
}
.itemIncSumm,.itemDecSummm{
	width:20px;
	margin-right:5px;
}
.itemPriceSumm::before{
	content:"Rs.";
}
.itemHeadSumm,.itemNameSumm{
width:100px;
display: table-cell;
}
.itemPriceSumm{
	display: table-cell;
}
.countHeadSumm,.count{
	width:90px;
	display: table-cell;
}

.itemInc::after,.itemDec::after,.itemIncSumm::after,.itemDecSumm::after{
	content:"]";
	color:#000;
}
.itemInc::before,.itemDec::before,.itemIncSumm::before,.itemDecSumm::before{
	content:"[";
	color:#000;
}
.summTblRow{
	height: auto;
	padding:10px 0;
}
.summTblRow div{
	display: inline-block;
}
.totalRow{
	font-weight: bold;
	border-top:2px solid #b7b7b7;
	padding-top:15px;
}
.orderBtn,.orderConfBtn{
	display: block;
    background-color: #346BDB;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    padding: 5px 0;
    text-align: center;
    margin: 0 auto;
}
.orderConfBtn{
	text-transform: none;;
}
.orderConfSumm .foodTable{
	margin-bottom:0;
}
.userInfo {
    width: 1160px;
    margin: 0 auto;
    background: #f7f7f7;
    border-left: 4px solid #b7b7b7;
    margin-bottom: 40px;
    padding: 20px;
    }
    .userInfo .summaryMenu {
    margin: 30px 0 0 70px;
    width: 800px;
}
.formErr {
    color: red;
    margin-bottom: 20px;
    font-style: italic;
}
.formCtrl {
    display: inline-block;
    margin-bottom: 20px;
}
.formCtrl label {
    font-size: 16px;
    display: block;
    margin-bottom:5px;
    font-weight:500;
}
.formCtrl input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border:none;
    padding-right: 20px;
}
.fullWidth {
    display: block;
    width: 798px;
}
.halfWidth{
	width:378px;
	margin-right:20px;
}
.halfWidth + .halfWidth{
	margin-right:0;
	width:396px;
}
.oneThirdWidth{
	width:242px;
	margin-right: 20px;
}
.oneThirdWidth:nth-child(3n+2){
	margin-right:0;
	width:264px;
}
.btnEnable{
	cursor:pointer;
}
.userInfo .heading{
	width:120px;
}
.userInfo p{
	font-weight: bold;
	overflow-wrap: break-word;
}
.itemCountSumm{
	width:20px;
}
